/* You can add global styles to this file, and also import other style files */
.font-weight-light-bold {
  font-weight: 600;
}

.custom-height-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.75rem;
}
.custom-height-modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}
