.report-controls-form-group {
  margin-bottom: .5rem;
}

.report-controls-row {
  margin-bottom: .5rem;
}

.summary-row {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .report-controls-row button .control-text {
    display: none;
  }
}
